@import "tailwindcss";

@theme {
  --font-sans: var(--font-iranyekan), ui-sans-serif, system-ui, sans-serif;
  --color-primary: #6E543D;
  --color-secondary: #EFCBA7;
  --color-text-main: #000000;
  --color-text-sec: #5C5A58;
  --color-bg-main: #FFFFFF;
  --color-bg-sec: #FFFBF6;
  --color-stroke: #E9E9E8;
}

body {
  background-color: var(--color-bg-main);
  color: var(--color-text-main);
}